body{
    /*background: #006666;*/
}

.mycolor{
    color: #0f5132;

}

.myfond1{
    background: #006666;

}

.myfond2{
    background: aliceblue;
}

.myfond3{
    background: cadetblue;
}

.divgroup{
    display: flex;
    flex-direction: row;
}
